/doc/*
.DS_Store
*.o
*.a
.*.swp
.*.swo
example
tags

# cmake local build files
CMakeCache.txt
CMakeFiles/
Makefile
include/OpenCL/
_build/
_cuda_build/
_wasm_build/
_ios_build/
libweed.pc
libweed-*/
libweed_*.orig.tar.xz
